<!--Main Content Section-->
<div class="hero-body" style="background-color: #3298db">
    <div class="container has-text-centered">
        <div class="column is-full is-centered">
            <img src="/images/cheers.png" alt="Logo" class="images">
            <div>
                <ul id="places">
                </ul>
            </div>
            <h1 class="title text-light">
                FavoriteBrew
            </h1>
            <h2 class="subtitle text-light">
                Find your brew with your crew.
            </h2>
            <div class="box">
                <div class="field is-grouped">
                    <p class="control is-expanded fav-section">
                        <p class="container has-text-left favorites"></p>
                    </p>
                    <p class="control rows">
                        <a class="button is-warning is-large is-round" id="showBtn">
                            Show
                        </a>
                        <a class="button is-warning is-large is-round" id="clearBtn">
                            Clear
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Added scrip link below for bing maps-->
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous">
</script>

<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap'></script>
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
<!--favorites JS file-->
<script src="/javascript/localstorage.js"></script>
</body>

</html>