<div style="background-color: #3298db">
    <div class="col-12 mb-2 text-light p-3" style="background-color: #3298db">
        <h3 class="portfolio-item-title text-light">Login</h3>
        <form class="login-form">
            <div>
                <label class="label text-light" for="username-login">Username:</label>
                <input class="portfolio-languages text-dark input is-warning" type="text" id="username-login" />
            </div>
            <div>
                <label for="password-login">Password:</label>
                <br>
                <input class="portfolio-languages text-dark input is-warning" type="text" id="password-login" />
            </div>
            <br>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
    <div class="col-12 mb-2 bg-dark text-light p-3">
        <h3 class="portfolio-item-title text-light">Sign-Up</h3>
        <form class="signup-form">
            <div>
                <label for="username-signup">Username:</label>
                <br>
                <input class="portfolio-languages text-dark input is-info" type="text" id="username-signup" />
            </div>
            <div>
                <label for="password-signup">Password:</label>
                <br>
                <input class="portfolio-languages text-dark input is-info" type="text" id="password-signup" />
            </div>
            <br>
            <div>
                <button type="submit">Signup</button>
            </div>
        </form>
    </div>
</div>

<script src="/javascript/login.js"></script>