<div class="field text-light p-3" style="background-color: #3298db">
    <h2 class="text-center">Sign in and see whats brewing!</h2>
    <h3 class="portfolio-item-title text-light">Login</h3>
    <form class="login-form">
        <div>
            <label class="label text-light" for="username-login">Username:</label>
            <input class="portfolio-languages text-dark input is-warning is-rounded" type="text" id="username-login" />
        </div>
        <div>
            <label for="password-login">Password:</label>
            <br>
            <input class="portfolio-languages text-dark input is-warning is-rounded" type="password"
                id="password-login" />
        </div>
        <br>
        <div class="field">
            <p class="control">
                <button type="submit">Login</button>
            </p>
        </div>
    </form>
</div>
<div class="field bg-dark text-light p-3">
    <h3 class="portfolio-item-title text-light">Sign-Up</h3>
    <form class="signup-form">
        <div>
            <label for="username-signup">Username:</label>
            <br>
            <input class="portfolio-languages text-dark input is-info" type="text" id="username-signup" />
        </div>
        <div>
            <label for="password-signup">Password:</label>
            <br>
            <input class="portfolio-languages text-dark input is-info" type="text" id="password-signup" />
        </div>
        <br>
        <div class="field">
            <p class="control">
                <button type="submit">Signup</button>
            </p>
        </div>
    </form>
</div>


<script src="/javascript/login.js"></script>